#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_installman:
	help2man -N "./debian/picom-conf/usr/bin/picom-conf -platform offscreen" > debian/picom-conf.1
	dh_installman
